body {
    background-image: url(../images/dc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.card {
    margin: 35px 430px 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 35px 10px 50px 20px;
    color: rgba(255, 255, 255, 0.4);
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 35px;
    margin-left: 45px;
    color: whitesmoke;
}

.inline {
    width: 85%;
    height: auto;
    display: inline-flex;
    margin: 0 45px;
}
.help {
    padding-left: 120px;
}
.info {
    margin-top: 80px;
    word-spacing: 2px;
    padding: 0 30px 0 45px;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}
img {
    width: 18px;
    height: 18px;
}
#now {
    color: white;
    font-size: 18px;
}
#learn {
    color:#0F52BA;
}
#need {
    padding-right: 10px;
    padding-top: 0px;
}
input[type=email] {
    width: 75%;
    height: 50px;
    margin: 0 45px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.2);
}
input[type=password] {
    width: 75%;
    height: 50px;
    margin: 0 45px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.2);
}
input[type=submit] {
    width: 76%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 45px 15px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(255, 0, 0, 0.8);
    color: whitesmoke;
}
::placeholder {
    color: rgba(245, 245, 245, 0.5);
    font-size: 16px;
    padding-right: 50px;
    text-indent: 20px;
}
.more {
    font-size: 13px;
}
.fb {
    font-size: 14px;
}
.netflix img {
    width: 180px;
    height: 47px;
    margin: 15px 0px 0px 25px;
}
#need:hover {
    text-decoration: underline;
}
#now:hover {
    text-decoration: underline;
}
#learn:hover {
    text-decoration: underline;
}